body{
    font-family: "Times New Roman";
}

.left {
    width: 50%;
    float: left;
}
.right {
    width: 40%;
    float: left;
}

* {
    box-sizing: border-box;
}
.menu .nav ul li a:hover, .menu .nav ul li a:active{
    color: white;
}
input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
select{
    width: 32%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.container {
    border-radius: 5px;
    padding: 20px;
}



.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
.button2 {
    transition-duration: 0.4s;

    display: inline-block;
    color: black;
    text-align: center;
    font-size: 15px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    height: 50px;
}


.button2:hover  {
    background-color: #04AA6D; /* Green */
    color: white;
}

.button1 {
    transition-duration: 0.4s;
    text-decoration: none;
    padding: 16px;
    display: inline-block;
    color: black;
    text-align: center;
    font-size: 15px;
    width: 60%;
    transition: all 0.5s;
    cursor: pointer;
    height: 50px;
}



.button1:hover  {
    background-color: deepskyblue;
    color: white;
}
.title-buy1{
    float: left;
    width: 20%;
}
.title-buy2{
    float: left;
    width: 48%;
}
.title-buy3{
    float: left;
    width: 32%;
}
.totalCost{
    font-family: "Times New Roman";
    font-size: 20px;
    color: #717171;
}